{{#each formModel}}
  <div class="form-group form-{{this.key}}">

    {{> form/label}}
    <div class="control-item">
      {{> form/input}}
      {{> form/textarea}}
      {{> form/checkbox}}
      {{> form/multiCheckbox}}
      {{> form/radio}}
      {{> form/select}}
      {{> form/file}}
      {{> form/description}}
    </div>

  </div>
{{/each}}