<div class="panel panel-default">
  <div class="panel-heading">Calendar</div>
  <div class="panel-body">
    <div class="calendar-module">
      <!-- calendar will go herer -->
    </div>
  </div>
</div>