<style>
.calendar-module{
  max-height: 375px;
}
</style>

<div class="panel panel-default">
  <div class="panel-heading">Calendar</div>
  <div class="panel-body">
    <div class="calendar-module">
    </div>

  </div>
  </div>