<a href="/delete-item?id={{id}}"
id="{{id}}" type="button" class="btn btn-default btn-xs delete-item-btn"
data-dateStart="{{dateStart}}">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</a>