<span class="form-buttons">

  <button type="submit" class="btn btn-success pull-right">
    <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
    {{#ifEqual state.task "create"}}Schedule item{{/ifEqual}}
    {{#ifEqual state.task "edit"}}Submit Changes{{/ifEqual}}
  </button>

  <a href="/manage-items" class="btn btn-default pull-right clear-form-btn">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Clear Form
  </a>

</span>