{{#ifEqual this.type "select"}}
<select id="{{this.key}}" name="{{this.key}}">
  {{#each this.templateOptions.options}}
    <option value="{{name}}">{{name}}</option>
  {{/each}}
</select>
{{/ifEqual}}
