{{#ifEqual this.type "checkbox"}}

<div class="alert alert-warning">
  <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> <strong>Warning!</strong> Checkboxes not supported yet.
</div>

{{/ifEqual}}
