<div class="row">


  <div class="col-md-3 pull-right">
    <button type="submit" class="btn btn-success">
      <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
      {{#ifEqual state.task "create"}}Schedule item{{/ifEqual}}
      {{#ifEqual state.task "edit"}}Submit Changes{{/ifEqual}}
    </button>
  </div>

  <div class="col-md-3 pull-right">
    <a href="/" class="btn btn-default clear-form-btn">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Clear Form
    </a>
  </div>

</div>








