
  <div class="row">
    <div class="col-xs-6">
      <p class="panel-title"> items ({{#count items}}{{items}}{{/count}})</p>
    </div>
    <div class="col-xs-6">
      <a href="/manage-items" class="btn btn-success pull-right clear-form-btn">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New item
      </a>
    </div>
  </div>

<div class="table-responsive">
  <table class=" table table-striped table-bordered table-condensed">
      {{#each items}}
      <tr>

        <td class="text-center">
          {{> delete-button}}
        </td>

        {{#each this}}
          {{#ifEqual @key "id"}}
            <td class="hidden">{{this}}</td>
          {{else}}
            <td>{{this}}</td>
          {{/ifEqual}}
        {{/each}}

        <td class="text-center">
          {{> edit-button}}
        </td>

      </tr>
      {{/each}}
  </table>
</div>
