<h2>Add Event</h2>

<div class="row">
  <div class="col-xs-6">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Calendar</h3>
  </div>
  <div class="panel-body">
    {{> calendar}}
  </div>
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Events</h3>
  </div>
  <div class="panel-body">
    {{> events}}
  </div>
</div>
</div>
</div>
  <div class="col-xs-6">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add or edit event</h3>
  </div>
  <div class="panel-body">
    {{> form}}
  </div>
</div>
</div>
</div>