<div class="row header">
  <div class="col-xs-6">
    <h2>Manage Events</h2>
  </div>
  <div class="col-xs-6">

  </div>
</div>

<div class="row">
  <div class="col-xs-7 ">
    {{> events}}
  </div>
  <div class="col-xs-5">
  {{> form}}
  </div>
</div>