{{#ifEqual this.type "radio"}}
{{this.data}}
  {{#each this.templateOptions.options}}
    <div class="radio">
      <label>
        <input type="radio" name="{{../key}}" value="{{this.value}}" {{#ifEqual ../this.data this.value }} checked="checked"{{/ifEqual}}> {{this.name}}
      </label>
    </div>
  {{/each}}
{{/ifEqual}}
